body, html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
	padding-bottom: 5px;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #000000;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

text {
	font-size: 7px;
	pointer-events: none;
}

#github-ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 100;
}
.subunit {
	fill: #D1CEDD;
}

.subunit-boundary {
	fill: none;
	stroke: #777;
	stroke-dasharray: 2.2;
	stroke-linejoin: round;
}

.group, .islands, .states, .countries, .dependencies {
	text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    1px 1px 0 #000;
}

.group a:link, .group a:visited {
	color: #CCCCCC;
}

.islands a:link, .islands a:visited {
	color: #CCFFCC;
}

.states a:link, .states a:visited {
	color: #CC3333;
}

.countries a:link, .countries a:visited {
	color: #FFFF00;
}

.dependencies a:link, .dependencies a:visited {
	color: #9999FF;
}

#nav {
	position: absolute;
	top: 70px;
	left: 0;
}

#footer {
	font-size: 60%;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#credits {
	float: left;
}

#attribution {
	float: right;
}
